@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>About Information Systems:</p>

<p> We want to help future students be able to get questions about their degrees answered by those that have received that degree. 
    Here, a forum has been created for this purpose! Any and all your IS questions can be answered by our alum and current students.</p>